
\.idea/

Search_Google_Images_for_selected_words\.py


new_cards

AwesomeTTS\.py

AutoDefineAddon/

awesometts/\.cache/

awesometts/

Japanese_shortcuts_Audio_Images_Jisho_Example_Sent_Homophones_Collocations\.py

AutoDefine\.py

*.autosave

word_list

tarjetaui/__pycache__/
